@layer components {
    .circle-btn-big {
        @apply w-12 h-12 text-lg;
    }
    .circle-btn {
        @apply w-8 h-8;
    }

    .input {
        @apply py-2 px-4 bg-blue-gray-900 rounded-md border-none outline-none text-white;
    }

    .mulselect-taglist {
        position: absolute;
        top: calc(100% + 0.5em);
        left: 0;
        width: 100%;
        max-height: 10em;
        overflow-y: auto;
    }

    dialog::backdrop {
        @apply bg-black opacity-30;
    }
}
